.brand_list .img_content_wprapper{
    width: 100%;
}
.brand_list .img_content_wprapper h1,p{
    font-family: Muli;
    
}
.brand_list .container{
    background-color: #d7dade;
}

.brand_list .search_filter_wrapper{
    width: 100%;
    padding:15px;

}
.search{
    display: inline-block;
    width: 25%
}
 .filter{
    display: inline-block;
    width:20%;
    margin-left: 30px;
    cursor: pointer;
}
.add_brands{
    display: inline-block;
    width:20%;
    cursor: pointer;
}
.pagination{
    display: inline-block;
    float: right;
}

.brands_actions{
    display: inline-block;
    width:20%;
    cursor: pointer;
}
.brand_list .form-control{
    background-color: #d7dade ;
    border:none !important ;
    
}
.brand_list ::placeholder{
    color: black ;
    opacity: 1;
}
.display_brands{
    background-color: white;
    text-align: center
}

.add_brand .btn :focus{
    background-color: transparent;
    border: transparent;
}

.store_description{
    font-size: 13px;
    color:#4D4F5C;
    font-weight:lighter;
}