.templateLayout {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.templateLayout + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: transparent;
  color: #777777;
  padding-right: 5px;
}

.radioLabel {
  font: 1rem 'Fira Sans', sans-serif;
}

.radioInput {
  margin: .4rem;
}

.tip {
  position: relative;
  display:inline-block !important;
}
  
.tip .tiptext{
  visibility: hidden;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  color:white;
  position: absolute;
  z-index: 1;
  }
  
  
  .tip:hover .tiptext{
  visibility:visible;
  }

  .vt-center {
    display: flex;
    align-items: center;
  }
  
  
  .tip .tiptext::after{
  position: absolute;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  content: " ";
  top:50%;
  border-style: solid;
  border-color: transparent black transparent transparent;
  }

  .parentContent {
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
