.templateLayout {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.templateLayout + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: transparent;
  color: #777777;
  padding-right: 5px;
}

.radioLabel {
  font: 1rem 'Fira Sans', sans-serif;
}

.radioInput {
  margin: .4rem;
}
