.underline{
    width: 200px;
    border: 2px solid #F74A4A;
    margin: 0px;    
}

.policy{
    margin-top: 235px;
}

.fa .fa-search .fa-1x{
border: none;
color: red;
}

.editCard1Margin{
    margin-left: 100px;
}

.editCard2Margin{
    margin-right: 100px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }
  
  select + i.fa {
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    pointer-events: none;
    background-color: transparent;
    padding-right: 5px;
  }

  .editNextButton {
    background-color: #333333 !important;
    color: white !important;
    float: right;
    margin-right: 95px;
}

/* step bar start */
.editCustomer .md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
}

.editCustomer .md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}

.editCustomer .md-stepper-horizontal .md-step:hover,
.editCustomer .md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}

.editCustomer .md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}

.editCustomer .md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.editCustomer .md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.editCustomer .md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}

.editCustomer .md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.editCustomer .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}

.editCustomer .md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}

.editCustomer .md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.editCustomer .md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F74A4A;
}
.editCustomer .md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.editCustomer .md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.editCustomer .md-stepper-horizontal .md-step.done .md-step-circle *,
.editCustomer .md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.editCustomer .md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.editCustomer .md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.editCustomer .md-stepper-horizontal .md-step .md-step-title {
	margin-top:15px;
	font-size:16px;
}
.editCustomer .md-stepper-horizontal .md-step .md-step-title,
.editCustomer .md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:#F74A4A;
}
.editCustomer .md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:#F74A4A;
}
.editCustomer .md-stepper-horizontal .md-step.active.done .md-step-title,
.editCustomer .md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.editCustomer .md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.editCustomer .md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.editCustomer .md-stepper-horizontal .md-step .md-step-bar-left,
.editCustomer .md-stepper-horizontal .md-step .md-step-bar-right {
	position: absolute;
    top: 36px;
    height: 2px;
    border-top: 1px solid #4D4F5C;
}
.editCustomer .md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.editCustomer .md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}


