/* main container start */
.editOrderMainDiv {
	top: 0px;
	left: 0px;
	background: #F2F4F7 0% 0% no-repeat padding-box;
	opacity: 1;
}

/* billing form and order changed by */
.billingDiv, .orderChanged {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 1px 2px grey;
	border-radius: 4px;
	opacity: 1;
}

.products img{
    width: 100px;
    height: 100px;
}

#inputState {
    background-color: transparent !important;
}

.md-stepper-horizontal.editorder .md-step .md-step-bar-left,
.md-stepper-horizontal.editorder .md-step .md-step-bar-right {
	position: absolute;
    top: 36px;
    height: 2px;
    border-top: 1px solid #F74A4A;
}

/* paypal section */
.paypaInc{
	text-align: left;
	font: bolder 13px/16px Muli;
	letter-spacing: 0;
	color: #444444;
	text-transform: uppercase;
	opacity: 1;
}


/* google description text */
.googleDesc{
	text-align: left;
	font: bold 14px/40px Source Sans Pro;
	letter-spacing: 0;
	color: #444444;
	opacity: 1;
}

/* heading */
.finalizeHeading {
	top: 132px;
	left: 335px;
	text-align: left;
	font:Bold 24px/40px Muli;
	letter-spacing: 0;
	color: #000000;
	text-transform: uppercase;
	opacity: 1;
}


/* coupon apply button */
.applyButton {
	top: 880px;
	left: 1056px;
	width: 200px;
	height: 38px;
	background: #333333 0% 0% no-repeat padding-box;
	border-radius: 115px;
	opacity: 1;
	outline: none;
	border:0;
	color:#fff;
	text-align: center;
	font: Bold 12px/15px Muli;
	letter-spacing: 0;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
}

.buttonGroup{
	margin: 20px;
}

/* previous page button */
.prevBtn {
	left: 335px;
	width: 170px;
	height: 36px;
	border: 1px solid #43425D;
	border:0;
	border-radius: 115px;
	opacity: 1;
	text-align: center;
	font: bold 12px/15px Muli;
	letter-spacing: 0;
	color: #333333;
	text-transform: uppercase;
	opacity: 1;
	background: none;
}

/* next page button */
.nxtBtn {
	left: 531px;
	width: 170px;
	height: 36px;
	margin-left: 20px;
	background: #333333 0% 0% no-repeat padding-box;
	border: 0;
	border-radius: 115px;
	opacity: 1;
	top: 1017px;
	text-align: center;
	font: Bold 12px/15px Muli;
	letter-spacing: 0;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
	box-shadow: none;
}
/* text in previous state and next button */
.commonTextStyle {
	text-align: left;
	font: bolder 13px/16px Muli;
	letter-spacing: 0;
	color: #444444;
	text-transform: uppercase;
	opacity: 1;
}

/* title text */
.titleText {
	text-align: center;
	font: bolder 12px/20px Muli;
	letter-spacing: 0;
	color: #F74A4A;
	opacity: 1;
}

