.pushDataToStoreHeading{
    margin-top:30px;
    margin-left:20px;

}
.contentPushDataToStore {
    margin:auto;
}

.pushDataToStoreTable{
    margin-top:20px;
    margin-left:auto !important;
}
.contentPushDataToStore h5{
    float: left;
}
.pushDataToStore {
  margin-left:auto;
}
.pushDataToStore div #firstpdts{
    margin-top: 15px;
}

.prductWithStore{
    display: flex;
    justify-content: space-between;
}
.prductWithStore span{
     width:60%;
} 

.inActive3 .md-step-circle{
    border:1px solid red;
    background:transparent !important;
}
.button3PushDataToStore{
    background-color: #333333; 
    color: white; 
    border: 2px solid  #333333;
    float:right;
    margin-top:auto;
}
.tablePushDataToStore{
    height:400px;
}
.middlePushDataToStore{
    position:relative;
}
.middlePushDataToStore div span{
    position:absolute;
    top:50%;
    left:50%;
}

.md-stepper-horizontal.editorder .md-step .md-step-bar-left,
.md-stepper-horizontal.editorder .md-step .md-step-bar-right {
	position: absolute;
    top: 36px;
    height: 2px;
    border-top: 1px solid #F74A4A;
}
.pushDataToStore th {
    top: 299px;
    left: 473px;
    width: 64px;
    height: 14px;
    text-align: left;
    font: Bold 11px/14px Source Sans Pro;
    letter-spacing: 0;
    color: #a3a6b4;
    text-transform: uppercase;
    opacity: 1;
  }

.pushDataToStore td {
    text-align: left;
    font: 13px/20px Source Sans Pro;
    letter-spacing: 0;
    color: #4d4f5c;
    opacity: 1;
  }