.pushDataToStoreHeading{
    margin-top:30px;
    margin-left:20px;

}
.contentPushDataToStore {
    margin:auto;
}

.pushDataToStoreTable{
    margin-top:20px;
    margin-left:auto !important;
}
.contentPushDataToStore h5{
    float: left;
}
.pushDataToStore {
  margin-left:auto;
}
.pushDataToStore div #firstpdts{
    margin-top: 15px;
}
/* .buttonActivePushDataToStore{
    background-color:black;
    border-radius:40%;
    width:140px;
    color: white;
}
.buttonOffPushDataToStore{
   
    border-radius:40%;
    width:140px
} */
.prductWithStore{
    display: flex;
    justify-content: space-between;
}
.prductWithStore span{
     width:60%;
} 

.inActive3 .md-step-circle{
    border:1px solid red;
    background:transparent !important;
}
.button3PushDataToStore{
    background-color: #333333; 
    color: white; 
    border: 2px solid  #333333;
    float:right;
    margin-top:auto;
}
.tablePushDataToStore{
    height:400px;
}
.middlePushDataToStore{
    position:relative;
}
.middlePushDataToStore div span{
    position:absolute;
    top:50%;
    left:50%;
}