.mainDiv {
    color:#555555;
}

.mainDiv .subTitle{
    margin-top: 35px;
    margin-left: 20px ;
}


.mainCard{
    width: 300px;
    height: 245px;
}



.card .variants{
    margin: 12px;
    
}

.card .mainHeader{
    width: 370px;
    height: 29px;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}
.main-close{
    margin-left: 145px;
} 

.tbody-table{
    height: 234px !important;
    width: 346px; 
    overflow-y:scroll;
    display: grid;
    /* background-color:rgb(242,244,247);  */
    opacity:50%;
    box-sizing: inherit;
    
}

.tbody-table tr td{
    vertical-align: inherit;
    border-top: 0px;
    background-color: #FFFFFF;

}


/* product variant start*/
.button-back{
    top: 943px;
    left: 1135px;
    width: 170px;
    height: 36px;
    border: 1px solid #43425D;
    border-radius: 115px;
    opacity: 1;
}



.button-variant{
    top: 942px;
    left: 1335px;
    width: 170px;
    height: 36px;
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 115px;
    opacity: 1;
    
}

.text-btn{
    top: 953px;
    left: 1368px;
    width: 104px;
    height: 15px;
    text-align: center;
    font: Bold 12px/15px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.text-btn-back{
    top: 953px;
    left: 1204px;
    width: 32px;
    height: 15px;
    text-align: center;
    font: Regular 12px/15px Muli;
    letter-spacing: 0;
    color: #4D4F5C;
    text-transform: uppercase;
    opacity: 1;
}

/* .button-variant{
    top: 953px;
    left: 1368px;
    width: 104px;
    height: 15px;
    text-align: center;
    font: Bold 12px/15px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
} */
/* product variant end*/


