.add_brand{
    font-family: Muli;
}
.add_brand .brand_button{
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    border-radius:20px;
    margin-top:10px;
    padding:9px 30px;
    font-weight: bold;
   
}
.add_brand label{
    margin-left: 11px;
    color: #555555;
    font-size: 18px;
    
}
.add_brand .heading{
top: 132px;
left: 334px;
width: 153px;
height: 30px;
text-align: left;
font: Bold 24px/40px Muli;
letter-spacing: 0;
color: #555555;
text-transform: uppercase;
opacity: 1;
}
.add_brand .custom-file-upload {
    border: 1px solid #888888;
    border-radius: 50px;
    padding:1px 20px;
    cursor: pointer;
    color: #888888;
  }
  .add_brand .error_text{
      color:red;
  }