.selectAdvancedSearch{
  text-align: left;
  font: 12px/25px Muli;
  letter-spacing: 0;
  color: #43425d !important;
  opacity: 1;
}

.search-keyword {
  text-align: left;
  font: 9px/25px Muli;
  letter-spacing: 0;
  color: #F46565;
  opacity: 1;
}

.advanced-search{
text-align: left;
font: 12px/25px Muli;
letter-spacing: 0;
color: #43425D;
opacity: 1;
}
.btnNextAdvanced {
  background-color: #333333 !important ;
  color: #ffffff !important;
  float: left;
  margin-left: 12px;
}