.selectAdvancedSearch option {
  font: 12px/25px Muli;
  letter-spacing: 0;
  color: #43425d;
  opacity: 1;
}
select.selectAdvancedSearch {
  font: 12px/25px Muli;
  letter-spacing: 0;
  color: #43425d;
  opacity: 1;
}
.search-keyword {
  text-align: left;
  font: 9px/25px Muli;
  letter-spacing: 0;
  color: #f46565;
  opacity: 1;
}

.advanced-search input {
  font: 12px/25px Muli;
  letter-spacing: 0;
  color: #43425d;
  opacity: 1;
}
.btnNextAdvanced {
  background-color: #333333 !important ;
  text-align: center;
  font: Bold 12px/15px Muli;
  letter-spacing: 0;
  color: #ffffff !important;
  text-transform: uppercase;
  opacity: 1;
  float: left;
  
}
.fontLabels {
  font: 12px/25px Muli;
  letter-spacing: 0;
  color: #43425d;
  opacity: 1;
}
.react-datepicker__input-container input {
  background-color: transparent;
  font-size: 0.6rem;
}
.containerAdvancedSearch i {
  color: #43425d;
  margin-left: -14px;
}

.react-datepicker-wrapper,.react-datepicker__input-container{
  padding: 0px;
}
