.category_actions {
    display: inline-block !important;
}

.actionButton, .createText {
    font-size:14px;
}

.categoryHeading {
    top: 132px;
    left: 335px;
    margin-bottom: 20px;
    text-align: left;
    font: 24px/40px 'Muli';
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    font-weight: bold;
}

.descriptionText p {
    top: 196px;
    left: 335px;
    padding-right: 77px;
    text-align: left;
    font:13px/20px 'Muli';
    letter-spacing: 0;
    color: #4D4F5C;
    opacity: 1;
}

.searchBox {
    display: inline-block;
}

.searchBox input[type="text"] {
    width: 100%;
    outline: none;
}

.categoryList th {
    top: 299px;
    left: 473px;
    width: 64px;
    height: 14px;
    text-align: left;
    font: Bold 11px/14px Source Sans Pro;
    letter-spacing: 0;
    color: #a3a6b4;
    text-transform: uppercase;
    opacity: 1;
  }

  .categoryList td {
    text-align: left;
    font: 13px/20px Source Sans Pro;
    letter-spacing: 0;
    color: #4d4f5c;
    opacity: 1;
  }
