ul li{
    list-style: none;
}

.mainProductDiv { 
    position: relative; 
    height: 300px;
    overflow: auto;
} 

.productsMainContainer {
    margin: auito;
}

.prLink {
    width: 150px;
    border: 2px solid #F74A4A;
    margin: 0px;
}

.prLine {
    width: 200px;
    border: 2px solid #333333;
    margin: 0px;
}

.stepbutton{
    margin: 5px !important;
    border-radius: 100px !important;
}

.prevBtn {
    border:1px solid #43425D !important;
    padding: 5px 20px 5px 20px !important;
}

.nxtBtn {
    padding: 5px 30px 5px 30px !important;
}

.md-stepper-horizontal .md-step.products .md-step-bar-left,
.md-stepper-horizontal .md-step.products .md-step-bar-right,
.md-stepper-horizontal .md-step.prdStep .md-step-bar-left{
	position: absolute;
    top: 36px;
    height: 1px;
    border-top: 1px solid #F74A4A;
}
.hide{
	display: none !important;
}

.underline.visible{
	visibility: hidden !important;
}

.card-title.visible{
	color: #999999 !important;
}