.edit_brand .btn-secondary{
    background-color:transparent !important;
    border-color:transparent;

}
.edit_brand .brand_button{
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    margin-left:10px;
    border-radius:20px;
    margin-top:10px;
    padding:9px 30px;
    font-weight: bold;
}
.edit_brand .brand_button :last-child{
    margin-left: 25px;
}
.edit_brand label{
    margin-left: 11px;
    color: #555555;
    font-size: 18px; 
}
.edit_brand .heading{
    color: #555555;
    font-weight: bold;
}
.edit_brand .brand_logo {
    display: inline-block;
}
.edit_brand .upload_logo{
    display: inline-block;
    margin-left:25px;
}
.edit_brand .custom-file-upload {
    padding: 1px 35px;
    cursor: pointer;
    color: #888888;
    /* top: 206px; */
    left: 505px;
    width: 133px;
    /* height: 16px; */
    /* border: 1px solid #888888; */
    border-radius: 20px;
    opacity: 1;
  }