.edit_brand .btn-secondary{
    background-color:transparent !important;
    border-color:transparent;

}
.edit_brand .brand_button{
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    margin-left:25%;
    border-radius:4px;
    margin-top:10px;
    padding:9px 30px;
    font-weight: bold;
}
.edit_brand label{
    margin-left: 11px;
    color: #555555;
    font-size: 18px; 
}
.edit_brand .heading{
    color: #555555;
    font-weight: bold;
}